{% extends "layout.html" %}

{% block title %}<br><h2 class="centre">Theory Primer</h2><br>{% endblock %}


{% block content %}

<div class="master_container">
<br>
    <h3 >I promise this won't hurt...<span class="tiny"> (much)</span></h3>
    <p>My aim in this section is to give you as briefly
       and simply and <em>un-scarily</em> as possible a basic but solid
       understanding of what scales are and how chords are made. This does not
    go super deep by any means into musical theory but is a good foundation.</p>
<br>
    <h4>What's a scale?</h4>
    <p>In "Western" music there are only 12 notes which you may be familiar with. Below is a table
        with the first note labelled R. The first note in any scale is called the <em>root</em>
        by convention and it just means the first note in the scale. The root is important
        as we'll see later because it determines all the other notes that follow. All the other notes
        will sound like they do <em>in relation to this note</em>. But more on that later. The root
        could be lablled as 1 but it's the same meaning as R in this context.</p>
        <br>
        <div class="container">
            <table>
                <tbody>
                <tr>
                <td>R</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
                <td>10</td>
                <td>11</td>
                <td>12</td>
                </tr>
                <tr>
                <td>C</td>
                <td>C#</td>
                <td>D</td>
                <td>D#</td>
                <td>E</td>
                <td>F</td>
                <td>F#</td>
                <td>G</td>
                <td>G#</td>
                <td>A</td>
                <td>A#</td>
                <td>B</td>
                </tr>
                <tr>
                <td>&nbsp;</td>
                <td>D&#9837</td>
                <td>&nbsp;</td>
                <td>E&#9837</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>G&#9837</td>
                <td>&nbsp;</td>
                <td>A&#9837</td>
                <td>&nbsp;</td>
                <td>B&#9837</td>
                <td>&nbsp;</td>
                </tr>
                </tbody>
                </table>
            </div>

    </br></br>


    <p>
    Those positions that have 2 notes, well the note itself is the same, only the name has changed. As in 2 sides of the <em>same coin</em>.
    Think of it like that for now. The reason we have these same notes with different names is that when
    we move on to scales shortly, the idea is to have only one type of each note in each scale. More on that later and
    if that sounds scary, trust me, it really isn't too bad.
    </p>
    <br>

    <h4>Key points so far:</h4>
    <ul>
        <li>By definition, the first note in any scale is called the <em>root note</em></li>
        <li>The letters used in a scale range from A to G. That's seven letters.</li>
        <li>There are no "H" notes. And definitley no I, J etc.</li>
        <li>Notes without symbols like # or &#9837 are called natural notes</li>
        <li>As mentioned, some notes have a different name like G# and A&#9837 but they <em>sound exactly the same</em></li>

    </ul>
<br>
        <p>To be able to get something that would sound musical to our ears from this smorgasboard of notes
             we need to impose some kind of order. And this is kind of what a scale is in a basic sense. It's a <em>selection</em> of notes from the chromatic scale.
        <br><p>It's that simple.</p>
        <p>We don't need to worry about <em>how</em> the selections have come about right now, except to
        say they have been settled on over centuries by all the musicans that came before.
        For now it's fine to just accept the scale patterns presented here for what they are.</p>

        <p>Scales are usually written in terms of TONES and SEMITONES.</p>
            <ul>
                <li>SEMITONE = 1 note distance in the chromatic scale</li>
                <li>TONE = 2 note distance in the chromatic scale</li>
            </ul>
            <p>
            For example C to C# is a SEMITONE
            <p>
            C to D is TONE.
        </p>
        </p>
            <p>
            This is the same principle wherever you start from. Some more examples (use the scale written out above to help):
            <ul>
            <li>D to E is a TONE.</li>
            <li>F# to G# is a TONE.</li>
            <li>B to C is a SEMITONE</li>
            <li>F# to G is a SEMITONE</li>
            </ul>
            <p>And so on</p>
            </p>
        </p>
        <br>

        <H4>The Major Scale</h4>
        <p>For the major scale, the one most of us will be familiar with, even if you didn't know it, looks like this:</p>
        <br>
        <p class="centre big-font">T - T - S - T - T - T - S</p>
        <br>

        <p>To find a C major scale therefore all we need to do is apply this pattern to the scale above
            starting on C. Just remember to think of the scale formula as the
            distance between notes. If we use our grid to help:</p>
<br>
        <table>
            <tbody>
            <tr>
            <td>T</td>
            <td></td>
            <td>T</td>
            <td></td>
            <td>S</td>
            <td>T</td>
            <td></td>
            <td>T</td>
            <td></td>
            <td>T</td>
            <td></td>
            <td>S</td>
            </tr>
            <tr>
            <td>C</td>
            <td></td>
            <td>D</td>
            <td></td>
            <td>E</td>
            <td>F</td>
            <td></td>
            <td>G</td>
            <td></td>
            <td>A</td>
            <td></td>
            <td>B</td>
            </tr>
            </tbody>
            </table>
            <br>
            <p>So the notes we get are:</p>
            <br>
            <p class="centre"><em class="big-font">C - D - E - F - G - A - B</em></p>
            <br>
            <p>If a piece of music was in the scale of C Major it is based
                on just these 7 notes. So from our 12 total notes we've whittled down to this selection.
                If you played this pattern of notes it produces the famous Do-Ra-Me-Fa-So-La-Ti-Do sounds.</p>
                <p>
                If you apply this selection sequence to any of the 12 notes you get the major scale
                for whichver note you started on. So, follow this process starting on D, you have the D Major scale.
            </p>
                <p>
                In a nutshell, that's how you know which notes are in a scale. Other scales are simply
                different in terms of the tone / semitone pattern. You can learn loads of scales this way
                by memorising the pattern of notes enabling you to play in those scales.
            </p>

                <br>
        <h3>Intervals</h3>

        <p>Hopefully you are comfortable with the parts covered so far. To really level up our knowledge and
            start to be able to understand chords we now need to think of something called intervals.
        </p>

        <p>All an interval is, is the space or distance between any 2 notes. Let's re-draw our
           chromatic scale but instead of simply numbering the notes we'll write their interval
           names.
        </p>
        <br>

        <div class="container">
            <table>
                <tbody>
                <tr>
                <td>R</td>
                <td>m2</td>
                <td>M2</td>
                <td>m3</td>
                <td>M3</td>
                <td>P4</td>
                <td>#4 &#9837 5</td>
                <td>P5</td>
                <td>#5 m6</td>
                <td>M6</td>
                <td>m7</td>
                <td>M7</td>
                </tr>
                <tr>
                <td>C</td>
                <td>C#</td>
                <td>D</td>
                <td>D#</td>
                <td>E</td>
                <td>F</td>
                <td>F#</td>
                <td>G</td>
                <td>G#</td>
                <td>A</td>
                <td>A#</td>
                <td>B</td>
                </tr>
                <tr>
                <td>&nbsp;</td>
                <td>D&#9837</td>
                <td>&nbsp;</td>
                <td>E&#9837</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>G&#9837</td>
                <td>&nbsp;</td>
                <td>A&#9837</td>
                <td>&nbsp;</td>
                <td>B&#9837</td>
                <td>&nbsp;</td>
                </tr>
                </tbody>
                </table>
            </div>
            <br><br>

            <p> Intervals are important because they enable us to name a sound without having
                to worry about what the note actually is. Also when we start to build chords
                we think in terms of intervals. The interval names are below:
                <br><br>
                <div class="container">
                <table>
                    <tbody>
                    <tr>
                    <td>Root</td>
                    <td>Unison</td>
                    </tr>
                    <tr>
                    <td>m2</td>
                    <td>minor second</td>
                    </tr>
                    <tr>
                    <td>M2</td>
                    <td>Major second</td>
                    </tr>
                    <tr>
                    <td>m3</td>
                    <td>Minor third</td>
                    </tr>
                    <tr>
                    <td>M3</td>
                    <td>Major third</td>
                    </tr>
                    <tr>
                    <td>P4</td>
                    <td>Perfect fourth</td>
                    </tr>
                    <td>#4 / &#9837 5</td>
                    <td>Sharp fourth / Flat fifth</td>
                    </tr>
                    </tr>
                    <td>P5</td>
                    <td>Perfect fifth</td>
                    </tr>
                    </tr>
                    <td>#5 / m6</td>
                    <td>Sharp fifth / minor sixth</td>
                    </tr>
                    <tr>
                    <td>M6</td>
                    <td>Major sixth</td>
                    </tr>
                    <td>m7</td>
                    <td>minor seventh</td>
                    </tr>
                    <td>M7</td>
                    <td>Major seventh</td>
                    </tr>
                    <td>Root</td>
                    <td>Octave</td>
                    </tbody>
                    </table>
                </div>
                    <br><br>

                <p> To demonstrate this pick a note, any note.</p>
                <p>Whichever note you have played, play the next note on your instrumnet. So on guitar
                    the note on the same string one fret up. The distance bewteeen the notes is one step on the
                    Chromatic scale and it is called a <em>minor 2nd</em>
                </p>


                <p>There are a couple of key points to remember here. Whatever note you hit first
                    is the root note. Our brains are then conditioned to hear other notes as they
                    sound <em>relative</em> to this note.
                </p>
                <p>What you should also hopefully note from this example is that if you play a note
                    and play the note next to it, it sounds like the Jaws theme. If you can't hear it
                    play lower notes but I promise you it's there.
                </p>
                <p>Once you've begun to appreciate this play any other 2 notes next to each other
                    anywhere on your instrument. Notice the quality of that interval is always "Jaws", it's just
                    higher or lower in pitch depending on where you went to play it.
                </p>
                <p>Every interval has it's own quality and moods which with practice you can begin to identify. It's fair to say
                    the minor 2nd interval brings a feeling of stress and being unsettled, even fear. If you were looking to bring
                    those feelings into a tune you were creating you would target this interval, mauch as John Williams did when
                    creating the Jaws theme.
                </p>

            </p>



    </p>
</div>
{% endblock %}

